body {
	background-color: #f3f3f3;
	background-attachment:fixed;
	font-family: 'Georgia';
	color: #444;
	font-size: 18px;
}

#main {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 72px;
	font-family: 'Lora', serif;
	color: #444;
	text-shadow: 2px 2px #fff;
}

h1 {
	font-family: 'Lora', serif;
	font-weight: lighter;
	font-size: 36px;
	padding-bottom: 20px;
	color: #444;
	text-align: center;
}

h2 {
	font-family: 'Lora', serif;
	font-weight: lighter;
	font-size: 24px;
	padding-bottom: 10px;
	color: #444;
}

h2, h3, h4, h5 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.essay span.date {
	float: right;
	font-family: 'Arial';
	font-size: 15px;
	vertical-align: bottom;
	color: #ccc;
	padding-top: 15px;
	margin-top: -82px;
}

#nav {
	margin: 20px 5px;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline-block;
}

#nav li a {
	font-family: 'Lora', serif;
	color: #444;
	text-decoration: none;
	padding: 10px 10px 10px 0;
	font-size: 20px;
	border: none;
}

.essay {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 70px 80px;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
	min-height: 900px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 30px;
}

a {
	text-decoration: none;
	border-bottom: 1px #aaa dotted;
	padding-bottom: 2px;
	color: #35586C;
}

.toc li a {
	display: block;
}

.toc li a small {
	float: right;
	font-family: 'Arial';
	font-size: 12px;
	vertical-align: bottom;
	color: #aaa;
	padding-top: 3px;
}

p {
	line-height: 30px;
	text-indent: 30px;
}

.essay li {
	padding-bottom: 7px;
	margin-left: 40px;
}

.toc {
	width: 90%;
}

.toc li {
	list-style: square;
	font-size: 14px;
	color: #444;
	line-height: 28px;
	padding: 0;
	margin: 0 0;
	clear: both;
}

pre {
	margin-left: 60px;
	padding-left: 10px;
	border-left: 4px solid #3879D9;
}

/* Add nag */
#adnag-root {
    position: fixed;
    bottom: 0;
    right: 20px;
    /*font-family: "Arial"; */
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fcfcfc;
    z-index: 200000;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fcfcfc));
    background-image: -webkit-linear-gradient(top,#fff,#fcfcfc);
    background-image: -moz-linear-gradient(top,#fff,#fcfcfc);
    background-image: -ms-linear-gradient(top,#fff,#fcfcfc);
    background-image: -o-linear-gradient(top,#fff,#fcfcfc);
    background-image: linear-gradient(top,#fff,#fcfcfc);
    border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    z-index: 200000;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: inline-block;
  
/*  -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box;
*/
}

#adnag-root .adnag-header {
    border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    background-color: #005F2C;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#333));
    background-image: -webkit-linear-gradient(top,#222,#333);
    background-image: -moz-linear-gradient(top,#222,#333);
    background-image: -ms-linear-gradient(top,#222,#333);
    background-image: -o-linear-gradient(top,#222,#333);
    background-image: linear-gradient(top,#222,#333);
}

.adnag-closed {
    height: 33px;
}

#adnag-root .adnag-header a {
	font-family: 'Arial';
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    padding: 8px;
    display: block;
}

#adnag-root .adnag-body {
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#adnag-root .adnag-body p {
    color: #808080;
    font-style: italic;
}

#adnag-root .adnag-field span {
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}