/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    #main {
        width: 700px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    #main {
        width: 100%;
    }

    .essay {
        padding: 10px 15px;
    }

    .essay li {
        padding-bottom: 7px;
        margin-left: 10px;
    }

    pre {
        margin-left: 10px;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #title {
        display: block !important;
    }

    #main {
        width: 100%;
    }

    .essay {
        padding: 10px 15px;
    }

    .essay li {
        padding-bottom: 7px;
        margin-left: 10px;
    }

    pre {
        margin-left: 10px;
        overflow: hidden;
    }

    #nav li, #nav li a {
        display: block !important;
    }

    #nav li a {
        margin: 0 !important;
        text-align: center;
    }

    #nav li {
        margin-bottom: 2px;
    }

    #title {
        text-align: center;    
    }

    h2 {
        background-color: #eee;
        margin: 0px -15px;
        padding: 5px;
        text-align: center;
    }
}